extends ../layout

block main
	header.content
		h2 Signup

	form#signup(method="post", action="/signup", enctype="multipart/form-data")
		p
			input#signup-first-name(type="text", name="firstName", placeholder="First Name", required, autofocus)
			| &nbsp;&nbsp;
			input#signup-last-name(type="text", name="lastName", placeholder="Last Name", required)
		p
			input#signup-email(type="email", name="email", placeholder="email", required)
			| &nbsp;&nbsp;
			
			| Select: &nbsp;&nbsp;
			select#signup-role(name="role", required)
				option(value="") My Role
				option(value="student") Student
				option(value="teacher") Teacher
				
		p Select: &nbsp;&nbsp;
			select#signup-role(name="school", required)
				option(value="") My School
				option(value="Bethel") Bethel
				option(value="Friends") Friends
				option(value="McPherson") McPherson
				option(value="Southwestern") Southwestern
				option(value="Wichita State") Wichita State
				
		p
			input#signup-password(type="password", name="password", placeholder="password", required)
			input#signup-confirm-password(type="password", placeholder="confirm password", required)
		p
			input.submit(type="submit", value="Signup")
			
		p.error
		