html, body {
	height: 100%;
	background-color: #F0EAEA;
}

body {
	font-size: 16px;
	overflow-y: scroll;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h2.pull-left, h2.pull-right {
	display: inline;
}

a:link {
	text-decoration: none;
}

.page a {
	margin-left: 25px;
}

a.print {
	margin-top: 15px;
}

a.cancel {
	display: block;
	margin-top: 5px;
}

a.login-create-account {
	color: #428bca
}

a.lessons {
	display: none;
}


::-webkit-input-placeholder {
   font-weight: 700;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: 700;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: 700;
}

:-ms-input-placeholder {  
   font-weight: 700;
}

placeholder {
	 font-weight: 700;
}

#wrapper {
	min-height: 100%;
	margin-bottom: -80px; 
}

	footer, #wrapper:after {
		height: 80px;
	}

	header.page {
		height: 100px;
	}
	
		#register, #profile {
			font-size: 20px;
			padding-top: 25px;
			display: none;
		}

	section.content {
		min-height: 70vh;
		margin-bottom: 30px;
		padding: 5px 20px 20px;
		background-color: #fff;
		border-radius: 20px;
		box-shadow: 3px 3px 3px 3px #ccc;
	}

		header.content {
			border-bottom: 1px solid #eee;
			margin-bottom: 20px;
		}

footer {
	width:100%;
	/* background-color: #7fc8e4; */
}

section {
	display: none;
}

section.lessons {
	display: block;
}

section.message {
	text-align: center;
}

	input.message {
		margin: 10px;
	}

.view-profile div {
	height: 30px;
}

span.glyphicon-edit.profile {
	margin-left: 20px;
	padding-left: 5px;
}

form.edit-profile {
	display: none;
}

.label-field {
	font-weight: 700;	
	width: 88px;
}

.label-field, .field {
	display: inline-block;
}

.field input {
	padding-left: 4px;
}

p.contact.message {
	display: none;
}



div.popup {
	display: none;
}

/*		Lesson List Tables		*/
table.principles thead {
	background-color: #BC3835;
	
}

table.strategies thead {
	background-color: #5D417E;
}

table.applications thead {
	background-color: #2787A0;
}

	thead {
		color: #eee;
		cursor: pointer;
	}

	th.lesson-type, th.title, th.script,  th.video, td.title {
		width: 25%;
	}

	th.status, td.status, td.script-status, td.video-status {
		width: 12%;
	}
	
	th.status, td.script-status, td.video-status {
		border-right: 2px solid !important;
	}
	
	th.script, td.script {
		border-left: 2px solid !important;
	}
	
	th.created {
		width: 10%;
	}

	tr.clone {
		display: none;
	}
	
/*		User Profile		*/
div.info {
	margin-bottom: 20px;
}

	div.info header {
		font-weight: 700;
		border-bottom: 1px dashed;
	}


/*		Errors, sticky, icons 	*/
p.error {
	color: red;
	font-weight: 700;
}

span.error {
	color: #fff;
	padding-left: 10px;
}


section.signup input {
	margin-bottom: 10px;
}

#signup-title {
	margin: 10px 0;
}

.glyphicon-pencil {
	right: 5px;
}

.glyphicon-remove, .glyphicon-edit {
	cursor: pointer;
}

.sticky {  
	position: fixed;
	top: 0;
	z-index: 100;
	border-top: 0;
}

.change-status {
	cursor: pointer;
}

span.Principle {
	color: #BC3835;
}

span.Strategy {
	color: #5D417E;
}

span.Application {
	color: #2787A0;
}

@media (max-width: 700px) {
	body {
		font-size: 12px;
	}

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 16px;
	}

	#register, #profile {
		padding-top: 20px;
		font-size: 16px;
	}

	th.lesson-type, th.title, th.script,  th.video, td.title {
		width: 23%;
	}

	th.status, td.status, td.script-status, td.video-status {
		width: 15%;
	}

	.btn {
		font-size: 12px;
	}
}

@media (max-width: 500px) {
	body {
		font-size: 10px;
	}

	h1 {
		font-size: 20px;
		color: green;
	}

	h2 {
		font-size: 14px;
	}

	#register, #profile {
		padding-top: 18px;
	}

	.btn {
		font-size: 10px;
	}

	/* Print isn't working on my phone so hide it. */
	a.print {
		display: none;
	}
}

@media (max-width: 440px) {
	body {
		font-size: 8px;
	}

	h1 {
		font-size: 18px;
	}

	h2 {
		font-size: 13px;
	}

	#register, #profile {
		padding-top: 20px;
		font-size: 14px;
	}

	th.lesson-type, th.title, th.script,  th.video, td.title {
		width: 22%;
	}

	th.status, td.status, td.script-status, td.video-status {
		width: 16%;
	}

	.btn {
		font-size: 8px;
	}
}

@media (max-width: 400px) {
	body {
		font-size: 7px;
	}

	.btn {
		font-size: 7px;
	}
}